# Compiled class files
*.class

# Output files
out/
bin/

# Log files
*.log

# Maven target directory
target/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IDE
.vscode/
.idea/

# OS X
.DS_Store